indiamart-lead-automation.json
{
  "name": "indiamart-lead-automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "88be727e-5bb7-4f71-8d9c-9fd122554427",
      "name": "Every 3 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        400
      ]
    },
    {
      "parameters": {
        "url": "<__PLACEHOLDER_VALUE__Your IndiaMart webhook URL__>",
        "options": {}
      },
      "id": "e37cc26f-75eb-4022-86e1-498389f5c706",
      "name": "Fetch IndiaMart Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        400
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "266b9b79-83fb-4807-88da-9adebc584c61",
      "name": "Read Existing Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ny2EOu2WecprlQ2F",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "or",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $(\"Read Existing Leads\").all().some(item => item.json.lead_id === $json.lead_id) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "2bb888c8-25d9-4a55-88bf-e0a5e6ef1474",
      "name": "Check if Lead Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        912,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "status",
              "value": "Duplicate lead skipped",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2f79079a-2d9a-40c0-bf20-6208564b1304",
      "name": "Skip Duplicate",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        304
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "29623ace-8851-4792-a330-7dec0a9685fa",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1136,
        496
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ny2EOu2WecprlQ2F",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "telegram_message",
              "value": "=🔔 New IndiaMart Lead!\n\n👤 Name: {{ $json.name }}\n📧 Email: {{ $json.email }}\n📱 Phone: {{ $json.phone }}\n💬 Message: {{ $json.message }}\n🆔 Lead ID: {{ $json.lead_id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "1db9b4fc-43ac-4d7b-a4d7-6a718973a29a",
      "name": "Format Lead Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        496
      ]
    },
    {
      "parameters": {
        "chatId": "<__PLACEHOLDER_VALUE__Your Telegram Chat ID__>",
        "text": "={{ $json.telegram_message }}",
        "additionalFields": {}
      },
      "id": "53c0533f-3d73-48bf-8abf-fc8922167e89",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1584,
        496
      ],
      "webhookId": "c4553295-01a1-4b4c-8ecc-eb5ac99dd246",
      "credentials": {
        "telegramApi": {
          "id": "2R97C90S1pTOPcPH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "dcbdf0b9-4962-4033-ab8b-8775a4d155bf",
      "name": "Telegram Bot Messages",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        832
      ],
      "webhookId": "752d6aa9-2a9b-456a-85cf-818ab4927c16",
      "credentials": {
        "telegramApi": {
          "id": "2R97C90S1pTOPcPH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a helpful assistant for an IndiaMart lead management system. You can answer questions about leads, provide information, and help users with their queries. Be friendly and professional."
        }
      },
      "id": "0d96f140-55a6-4662-b9c5-fc605d078599",
      "name": "AI Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        464,
        832
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "9d8ae561-8971-4368-b35f-1da70305c4bb",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        480,
        1056
      ],
      "credentials": {
        "openAiApi": {
          "id": "Oq8HIEOs0vZt8o1k",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "id": "9d11c69b-f8a8-425c-b39d-b060b0feaa3a",
      "name": "Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        608,
        1056
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $(\"Telegram Bot Messages\").item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "8603239e-1f68-48c4-9cd2-38f9c353868c",
      "name": "Send Bot Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        816,
        832
      ],
      "webhookId": "900d2cdc-91b9-44f8-b935-fb8e84ccdf7f",
      "credentials": {
        "telegramApi": {
          "id": "2R97C90S1pTOPcPH",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every 3 Hours": {
      "main": [
        [
          {
            "node": "Fetch IndiaMart Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch IndiaMart Leads": {
      "main": [
        [
          {
            "node": "Read Existing Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Existing Leads": {
      "main": [
        [
          {
            "node": "Check if Lead Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Lead Exists": {
      "main": [
        [
          {
            "node": "Skip Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheets": {
      "main": [
        [
          {
            "node": "Format Lead Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Lead Message": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Bot Messages": {
      "main": [
        [
          {
            "node": "AI Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Assistant": {
      "main": [
        [
          {
            "node": "Send Bot Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "57a7c5f7-c539-4629-ab47-6b4c1647ca7b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4f2c6404a9a18657046000368870533d809f6af7b0b96d11c9918da592ae4de8"
  },
  "id": "ztiQOSxxsTnA7iRb",
  "tags": []
}